  <div    class="container">
	<form name="AlbumsForm" class="form-horizontal"  novalidate> 
		  &nbsp;  <br>  
		<h2> {{albumTitle}} </h2>  
		<div class="col-sm-12">   
			<div class="panel panel-success">
				<div class="panel-heading"> 
					<textarea ng-disabled="!submitAlbum" class="col-sm-12 text-muted "   id="titleId"  rows="1" type='text' ng-model='editRecord.title'></textarea>
					<br><br> 
				</div> 
			</div> 
			<div class="pull-right" ng-show="submitAlbum" >
				<button-save  name="albums" title="Submit Album"   > </button-save> 
			</div>
		</div>  
		   
		<div class="col-md-7  panel-group"> 
		<div class="panel panel-success">
			<div class="panel-heading"> 
				<strong> Photos </strong>
			</div>
			<div  class="panel-body panel-success"> 
				<owl-carousel id="carous_{{$index}}" class="owl-carousel owl-theme" >
					<div id="photo_{{$index}}" owl-carousel-item="" ng-repeat="photo in photos" class="item">
						<button-delete pk="{{photo.id}}" name="photos" array="photos"> </button-delete>
						<button ng-click="remove($index)"> </button>
						<a href="{{photo.url}}" class="thumbnail">
							<img src="{{photo.url}}" alt="{{photo.title}}">
						</a>
					</div>
				</owl-carousel>
			</div>
		</div>
		</div>
	</form>
</div> 
  